.scores {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.headsScore_container,
.tailsScore_container {
	/*border: 1px solid black;*/
	font-size: 50px;
}

.heads_score,
.tails_score {
	text-align: center;
}

.coin_container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
}

.coin_container img {
	width: 300px;
}

.result {
	height: 50px;
	/*border: 1px solid black;*/
	margin-bottom: 20px;
	font-size: 30px;
	text-align: center;
}

.reset_container {
	text-align: center;
}

button {
	font-size: 40px;
}