<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
	<nav>
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/about_us">About Us</a></li>
			<li><a href="/contact_us">Contact Us</a></li>
		</ul>
	</nav>
	<h1>Home</h1>
	<ul class="img_grid">
		<li>
			<!-- <img src="/images/grumpy-cat.jpg" alt=""> -->
			<!-- <img src="/images/decorations-dog.jpg" alt=""> -->
		</li>
		<li>
			<!-- <img src="/images/samuel-l-jackson-xmas.jpg" alt=""> -->
			<!-- <img src="" alt=""> -->
		</li>
		<li><img src="" alt=""></li>
		<li><img src="" alt=""></li>
		<li><img src="" alt=""></li>
		<li><img src="" alt=""></li>
	</ul>
	<footer>
		
	</footer>
</body>
</html>